.cabecera {
    background-color: #f0b7a3;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 20px; 
}

.cabecera .titulo {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center; 
}


#fotoprincipal {
    height: 150px; 
    width: auto;
    margin-left: 65px;
    margin-top: -15px;
}

h1{
color:rgb(22, 8, 4) ;
}
h2{
color:rgb(22, 8, 4) ;
margin-left: 20px;
}
.fa-paw{

    margin-right: 10px;
    color:white;

}

















