html, body {
    margin: 0;
    height: 100%;
    font-family: Lato;
}

* {
    box-sizing: border-box;
}


#barrasuperior {
    background-color: rgb(46, 42, 42);
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 4px;
    letter-spacing: 0.5px;
    margin-left: 0;
}
#barrasuperior p {
  display: inline-block;
  margin: 10px 15px;
  margin-top: 0;
}


header {
    font-family: Raleway;
    background-color: #edebee;
    padding: 1px;
    text-align: center;
}


h1 {
    margin-top: 5px;
    color: rgb(22, 8, 4);
    text-transform: uppercase;
    font-family: Lato;
    font-weight: 500;
}


.fa-paw {
    margin-right: 10px;
    color: rgb(46, 42, 42);
}


a {
    color: inherit;
    text-decoration: none;
}


ol {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(46, 42, 42);
    border: 10px solid rgb(46, 42, 42);
    font-size: 0; 
}

li {
    box-sizing: border-box;
    display: inline-block;
    width: 12%;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: rgb(46, 42, 42);
    border-right: 1px solid #edebee;
}

li:last-child {
    border-right: none; 
}

li:hover {
    background-color: aliceblue;
    color: black;
}


/*Formato de mi pagina principal*/
#banner {
    display: block;
    width: 100%;
    margin: 20px 0;
}
h2{
    text-align: center;
    text-transform: uppercase;
}
.principal {
    text-align: center;
    margin: 20px;
}
aside{
    margin-left: 15px;
}

.principal article {
    display: inline-block;
    vertical-align: top;
    width: 23%;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    font-size: 16px;
}

.principal article:hover {
    border: 1px solid #8b4513;
    background-color: #f9f6f2;
}


.principal article img {
    width: 100%;
    height: 400px;
    display: block;
}

.principal h3 {
    font-size: 1em;
    margin: 10px 0;
    color: #3b2d1f;
}


.principal article p {
    color: #8b4513;
    font-weight: bold;
    margin-bottom: 10px;
}


#iconos-info {
    text-align: center;
    margin: 50px 0;
}

#iconos-info article {
    display: inline-block;
    vertical-align: top;
    width: 18%;
    margin: 10px;
    text-align: center;
}

#iconos-info i {
    font-size: 55px;
    color: #bca59b;
    margin-bottom: 10px;
}

#iconos-info h4 {
    font-size: 15px;
    margin: 10px 0 5px 0;
}


#iconos-info p {
    font-size: 14px;
    color: #4a4a4a;
    max-width: 180px;
    margin: auto;
}



/*Seccion de la página --> ropa, paseo, viaje*/
#productos{
    text-align: center;
    margin: 20px;
}
#productos h1{
    color: #3b2d1f;
    margin-bottom: 20px;
}
#productos section{
    text-align: center;
    font-size: 0;
}
#productos article{
    display: inline-block;
    vertical-align: top;
    width: 280px;
    margin: 10px;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    background-color: #fff;
}
#productos article:hover {
border: 1px solid #8b4513;
background-color: #f9f6f2;
}
#productos article img {
    width: 100%;
    height: 260px;

}
#productos h3{
    font-size: 1em;
    margin: 10px 0;
    color: #3b2d1f;
}
#productos article p{
    color: #8b4513;
    font-weight: bold;
    margin-bottom: 10px;
}

/*Seccion de la página --> PATITAS MIMADAS*/

#patitasmimadas p{
    text-transform: none;
    text-align: justify;
}

#patitasmimadas:nth-of-type(n+2) {
    padding: 20px;
    background: #fafafa;
    border-radius: 12px;
}


#patitasmimadas h2 {
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: rgb(46, 42, 42);
    font-family: Lato;
    font-weight: 500;
}

#patitasmimadas img {
    float: left;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 0 20px 1rem 0;
    border: 2px solid rgb(46, 42, 42);
}

#patitasmimadas article {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

#patitasmimadas:nth-of-type(n+2) {
    text-transform: none;
    margin-bottom: 1rem;
    text-align: justify;
    line-height: 1.7;
    font-size: 1.05rem;
    color: #444;

    background: #ffffff;
    padding: 15px 20px;
    border-left: 4px solidr rgb(46, 42, 42);
    border-radius: 8px;
    box-shadow: 0 2px 6px rgb(46, 42, 42);
}

#patitasmimadas:nth-of-type(n+2) a {
    display: block;
    margin: 10px 0;
    padding: 12px 18px;
    background-color: #f5f5f5;
    border-left: 5px solid #201f23;
    border-radius: 8px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

#patitasmimadas:nth-of-type(n+2) a:hover {
    background-color: #ece6ff;
    border-left-color: rgb(46, 42, 42);
}




/*PREGUNTAS FRECUENTES/PAGOS*/

#FAQS {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
    font-family: Lato, sans-serif;
}

#FAQS h2 {
    text-align: center;
    font-size: 32px;
    color: rgb(46, 42, 42);
    font-family: Raleway;
    margin-bottom: 25px;
}


#FAQS article {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-left: 5px solid rgb(46, 42, 42);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 25px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}
#FAQS article:hover {
    background-color: #f9f6f2;
    border-left-color: #8b4513;
}

#FAQS h3 {
    margin-top: 0;
    color: #3b2d1f;
    font-size: 22px;
    font-family: Raleway;
}

#FAQS p {
    color: #444;
    text-align: justify;
    line-height: 1.6;
    margin-top: 10px;
}

#FAQS img {
    height: 150px;
    float: right;
    margin-left: 10px;
    border-radius: 8px;
}

#FAQS p{
    text-transform: none;
}



/* HAZTEVIP */
#haztevip {
    margin: 20px;
    text-align: center;
}

#haztevip h3 { 
    font-family: Raleway, sans-serif;
    font-size: 32px;
    color: rgb(22, 8, 4);
    margin-bottom: 10px;
}

#haztevip p {
    font-family: Lato, sans-serif;
    font-size: 18px;
    color: #444;
    max-width: 900px;
    margin: 0 auto 20px;
    line-height: 1.5;
}

#haztevip img {  
    width: 100%;         
    max-width: 1000px;    
    height: auto;        
    border-radius: 10px;
    border: 3px solid #ccc;
    margin: 20px auto;   
    display: block;
}

#haztevip section {
    text-align: center;
    margin-top: 30px;
}

#haztevip article {
    display: inline-block;
    width: 18%;           
    margin: 10px;
    vertical-align: top;
    text-align: center;
    background-color: #fff; 
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    transition: background-color 0.3s;
}

#haztevip article:hover {
    background-color: #f9f6f2;
}

#haztevip article i {
    font-size: 55px;     
    color: #bca59b;        
    margin-bottom: 10px;
    display: block;
}

#haztevip h4 {
    font-family: Raleway, sans-serif;
    font-size: 15px;     
    margin: 10px 0 5px 0;
    color: rgb(22, 8, 4);
}


#haztevip article p {
    font-family: Lato, sans-serif;
    font-size: 14px;       
    color: #4a4a4a;        
    max-width: 180px;
    margin: auto;
    line-height: 1.4;
}

form {
    margin: 30px auto;
    max-width: 500px;
    width: 100%;
}

form label{
    display: block;
    margin: 10px;
}

form input {
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100%;

}

form button {
    margin: 15px;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    background-color: rgb(46, 42, 42);
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

form button:hover {
    background-color: #3b372f;
}

/*PIE DE PÁGINA CON NAVEGACIÓN*/

h5{
    border-bottom: 1px solid white;

}
footer {

  background: #2e2929;
  padding: 40px 0;
  color: white;
  margin: 0 auto;
  overflow: hidden;
  padding-left: 10%;
}


footer nav {
    float: left;
    margin: 0;
  padding: 0 10px;
  width: 30%;
  box-sizing: border-box;


}

footer li:hover{
    background-color: none;
}

footer h5 {
  font-size: 18px;
  margin-bottom: 15px;
  position: relative;
  padding-bottom: 8px;
  text-align: center; 
  margin-top: 0;
}


footer ol {

  padding: 0;
  margin: 0;

}

footer a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: block; 
  padding: 2px 0; 
}

footer li {
 
  display: block; 
  margin: 6px 0;
  border: none;
  background-color: transparent;
  width: auto;
}






