

html, body{
    margin: 0px;
    height: 100%;
    font-family: Lato;
}
.barrasuperior{
background-color: rgb(46, 42, 42);
color: white;
text-align: center;
font-size: 14px;
padding: 0.5px;
letter-spacing: 0.5px;
margin-bottom: 0px;
}
span{
margin: 20px;
}
.cabecera {
    font-family: Raleway;
    height: auto;
    background-color: #edebee;
    padding: 1px;
    text-align: center;
    gap: 20px; 
    margin-bottom: -20px;
}

h1{
    margin-top: 0;
color:rgb(22, 8, 4) ;
}
h2{
    margin-top: 0;
color:rgb(22, 8, 4) ;
margin-left: 20px;
}
.fa-paw{

    margin-right: 10px;
    color:rgb(46, 42, 42);

}
a{
    color: inherit;
    text-decoration: none;
}
ol{
    margin-top: 0px;
    background-color: rgb(46, 42, 42);
    font-size: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    border: 10px solid rgb(46, 42, 42);

}
li{
    box-sizing: border-box;
    border-right: 1px solid #edebee;
    font-size: 16px;
    background-color:  rgb(46, 42, 42);
    text-align: center;
    color: rgb(255, 255, 255);
    display: inline-block;
    width: 14.28%;
    border-left: 1px;

}

li:hover{
    background-color: aliceblue;
    color: black;
}

picture img {
  display: block;
  width: 100%;
  height: auto;
}

/*Seccion de la página --> ROPA */
#ropa{
    text-align: center;
    margin: 20px;
}
#ropa h1{
    color: #3b2d1f;
    margin-bottom: 20px;
}
#ropa section{
    text-align: center;
    font-size: 0;
}
#ropa article{
    display: inline-block;
    vertical-align: top;
    width: 280px;
    margin: 10px;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    background-color: #fff;
}
#ropa article:hover {
border: 1px solid #8b4513;
background-color: #f9f6f2;
}
#ropa article img {
    width: 100%;
    height: 260px;

}
#ropa h3{
    font-size: 1em;
    margin: 10px 0;
    color: #3b2d1f;
}
#ropa article p{
    color: #8b4513;
    font-weight: bold;
    margin-bottom: 10px;
}

/*Seccion de la página --> PATITAS MIMADAS*/

#patitasmimadas h2{
    margin-top: 10px;
    text-align: center;
}
#patitasmimadas img{
    float: left;    
    height: 250px;
    border: 1px solid black;
    margin: 0 20px;
    margin-bottom: 1rem;  
}
#patitasmimadas article {
width: 50%;
padding: 20px;
box-sizing: border-box;
display: inline-block;
vertical-align: top;
}
#patitasmimadas p {
    text-transform: none;
    margin-bottom: 1rem;
    text-align: justify;
}






footer{

background-color: rgb(46, 42, 42);
color: white;
text-align: center;
padding: 20px;
bottom: 0;
width: 100%;
position: relative;

}
footer section{
    display: inline-block;
    width: 22%;
    padding: 10px;
    vertical-align: top;

}
section p{
    text-transform: uppercase;
    border-bottom: 1px solid white;
}

article{

    padding: 3px;
}












