

html, body{
    margin: 0px;
    height: 100%;
}
.barrasuperior{
background-color: rgb(46, 42, 42);
color: white;
text-align: center;
font-size: 14px;
padding: 0.5px;
letter-spacing: 0.5px;
margin-bottom: 0px;
}
span{
margin: 20px;
}
.cabecera {
    height: auto;
    background-color: #d77f52;
    padding: 1px;
    text-align: center;
    gap: 20px; 
    margin-bottom: -20px;
}

h1{
    margin-top: 0;
color:rgb(22, 8, 4) ;
}
h2{
    margin-top: 0;
color:rgb(22, 8, 4) ;
margin-left: 20px;
}
.fa-paw{

    margin-right: 10px;
    color:rgb(46, 42, 42);

}
a{
    color: inherit;
    text-decoration: none;
}
ol{
    margin-top: 0px;
    background-color: rgb(46, 42, 42);
    font-size: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    border: 10px solid rgb(46, 42, 42);

}
li{
    font-size: 16px;
    background-color:  rgb(46, 42, 42);
    text-align: center;
    color: rgb(255, 255, 255);
    display: inline-block;
    width: 14.28%;
    border-left: 1px;

}

li:active{
    background-color: aqua;
    color: white;
}
picture img {
  display: block;
  width: 100%;
  height: auto;
}
footer{

background-color: rgb(46, 42, 42);
color: white;
text-align: center;
padding: 20px;
bottom: 0;
width: 100%;
position: relative;

}
section{
    display: inline-block;
    width: 22%;
    padding: 10px;
    vertical-align: top;

}
section p{
    text-transform: uppercase;
    border-bottom: 1px solid white;
}

article{

    padding: 3px;
}












