

html, body{
    margin: 0px;
    height: 100%;
    font-family: Lato;
}
* {
    box-sizing: border-box;
}
.barrasuperior{
background-color: rgb(46, 42, 42);
color: white;
text-align: center;
font-size: 14px;
padding: 0.5px;
letter-spacing: 0.5px;
margin-bottom: 0px;
}
span{
margin: 20px;
}
.cabecera {
    font-family: Raleway;
    height: auto;
    background-color: #edebee;
    padding: 1px;
    text-align: center;
    gap: 20px; 
    margin-bottom: -20px;
}

h1{
    margin-top: 0;
color:rgb(22, 8, 4) ;
}
h2{
margin-bottom: 25px;
color:rgb(22, 8, 4) ;
margin-left: 20px;
font-size: 28px;
}
.fa-paw{

    margin-right: 10px;
    color:rgb(46, 42, 42);

}
a{
    color: inherit;
    text-decoration: none;
}
ol{
    margin-top: 0px;
    background-color: rgb(46, 42, 42);
    font-size: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    border: 10px solid rgb(46, 42, 42);

}
li{
    box-sizing: border-box;
    border-right: 1px solid #edebee;
    font-size: 16px;
    background-color:  rgb(46, 42, 42);
    text-align: center;
    color: rgb(255, 255, 255);
    display: inline-block;
    width: 14.28%;
    border-left: 1px;

}

li:hover{
    background-color: aliceblue;
    color: black;
}

picture img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: block;
}

/*Productos seccion principal*/
#principal{
    text-align: center;
    margin: 20px;
}
#principal h1{
    color: #3b2d1f;
    margin-bottom: 20px;
}
#principal section {
    text-align: center;
}

#principal article {
    display: inline-block;
    vertical-align: top;
    width: calc(25% - 20px);   /* 4 en una fila */
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    background-color: #fff;
}
#principal article:hover {
border: 1px solid #8b4513;
background-color: #f9f6f2;
}
#principal article img {
    width: 100%;
    height: 400px;
     object-fit: cover;

}
#principal h3{
    font-size: 1em;
    margin: 10px 0;
    color: #3b2d1f;
}
#principal article p{
    color: #8b4513;
    font-weight: bold;
    margin-bottom: 10px;
}
#iconos-info {
    text-align: center;
    margin: 50px 0;
}

#iconos-info article {
    display: inline-block;
    width: 18%;      
    margin: 10px;
    vertical-align: top;
    text-align: center;
}

#iconos-info i {
    font-size: 55px;
    color: #bca59b;       
    margin-bottom: 10px;
}

#iconos-info h4 {
    font-size: 15px;
    margin: 10px 0 5px 0;
}

#iconos-info p {
    font-size: 14px;
    color: #4a4a4a;
    max-width: 180px;
    margin: auto;
}


/*Seccion de la página --> ropa, paseo, viaje*/
#productos{
    text-align: center;
    margin: 20px;
}
#productos h1{
    color: #3b2d1f;
    margin-bottom: 20px;
}
#productos section{
    text-align: center;
    font-size: 0;
}
#productos article{
    display: inline-block;
    vertical-align: top;
    width: 280px;
    margin: 10px;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    background-color: #fff;
}
#productos article:hover {
border: 1px solid #8b4513;
background-color: #f9f6f2;
}
#productos article img {
    width: 100%;
    height: 260px;

}
#productos h3{
    font-size: 1em;
    margin: 10px 0;
    color: #3b2d1f;
}
#productos article p{
    color: #8b4513;
    font-weight: bold;
    margin-bottom: 10px;
}

/*Seccion de la página --> PATITAS MIMADAS*/

#patitasmimadas p{
    text-transform: none;
}

#patitasmimadas:nth-of-type(n+2) {
    padding: 20px;
    background: #fafafa;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(0,0,0,0,0.08);
}


#patitasmimadas h2 {
    margin-top: 10px;
    text-align: center;
    font-size: 1.8rem;
    color: rgb(46, 42, 42);
}

#patitasmimadas img {
    float: left;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 0 20px 1rem 0;
    box-shadow: 0 2px 6px rgb(46, 42, 42);
}

#patitasmimadas article {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

#patitasmimadas:nth-of-type(n+2) {
    text-transform: none;
    margin-bottom: 1rem;
    text-align: justify;
    line-height: 1.7;
    font-size: 1.05rem;
    color: #444;

    background: #ffffff;
    padding: 15px 20px;
    border-left: 4px solidr rgb(46, 42, 42);
    border-radius: 8px;
    box-shadow: 0 2px 6px rgb(46, 42, 42);
}

#patitasmimadas:nth-of-type(n+2) a {
    display: block;
    margin: 10px 0;
    padding: 12px 18px;
    background-color: #f5f5f5;
    border-left: 5px solid #201f23;
    border-radius: 8px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

#patitasmimadas:nth-of-type(n+2) a:hover {
    background-color: #ece6ff;
    border-left-color: rgb(46, 42, 42);
}




/*PREGUNTAS FRECUENTES/PAGOS*/
#FAQS h2{
    margin-top: 25px;
}
#FAQS p{
    text-transform: none;
    margin: auto;
}
#FAQS img{
    height: 150px;
    float: right;
 
}
#FAQS section{
    text-align: justify;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* HAZTEVIP */
#haztevip {
    margin: 20px;
    text-align: center;
}

#haztevip h3 { 
    font-family: Raleway, sans-serif;
    font-size: 32px;
    color: rgb(22, 8, 4);
    margin-bottom: 10px;
}

#haztevip p {
    font-family: Lato, sans-serif;
    font-size: 18px;
    color: #444;
    max-width: 900px;
    margin: 0 auto 20px;
    line-height: 1.5;
}

#haztevip img {  
    width: 100%;         
    max-width: 1000px;    
    height: auto;        
    border-radius: 10px;
    border: 3px solid #ccc;
    margin: 20px auto;   
    display: block;
}

#haztevip section {
    text-align: center;
    margin-top: 30px;
}

#haztevip article {
    display: inline-block;
    width: 18%;           
    margin: 10px;
    vertical-align: top;
    text-align: center;
    background-color: #fff; 
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    transition: background-color 0.3s;
}

#haztevip article:hover {
    background-color: #f9f6f2;
}

#haztevip article i {
    font-size: 55px;     
    color: #bca59b;        
    margin-bottom: 10px;
    display: block;
}

#haztevip h4 {
    font-family: Raleway, sans-serif;
    font-size: 15px;     
    margin: 10px 0 5px 0;
    color: rgb(22, 8, 4);
}


#haztevip article p {
    font-family: Lato, sans-serif;
    font-size: 14px;       
    color: #4a4a4a;        
    max-width: 180px;
    margin: auto;
    line-height: 1.4;
}

form {
    margin: 30px auto;
    max-width: 500px;
}
fieldset{
    padding: 15px 20px;
    border: 1px solid black;
    text-align: left;
}
form fieldset > legend{
    font-weight: bold;
}
form label{
    display: block;
    margin: 10px;
}

form input {
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;

}

form button {
    margin: 10px;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    background-color: rgb(46, 42, 42);
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

form button:hover {
    background-color: #3b372f;
}

footer{

background-color: rgb(46, 42, 42);
color: white;
text-align: center;
padding: 20px;
bottom: 0;
width: 100%;
position: relative;

}
footer section{
    display: inline-block;
    width: 22%;
    padding: 10px;
    vertical-align: top;

}
section p{
    text-transform: uppercase;
    border-bottom: 1px solid white;
}

article{

    padding: 3px;
}












